@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --foundation-bluedark: rgba(35, 50, 74, 1);
  --foundation-bluedark-active: rgba(21, 30, 44, 1);
  --foundation-bluedark-hover: rgba(28, 40, 59, 1);
  --foundation-bluedarker: rgba(16, 23, 34, 1);
  --foundation-bluelight: rgba(234, 236, 239, 1);
  --foundation-bluelight-active: rgba(191, 197, 206, 1);
  --foundation-bluelight-hover: rgba(224, 227, 231, 1);
  --foundation-bluenormal: rgba(47, 67, 98, 1);
  --foundation-bluenormal-active: rgba(38, 54, 78, 1);
  --foundation-bluenormal-hover: rgba(42, 60, 88, 1);
  --foundation-greendark: rgba(23, 102, 51, 1);
  --foundation-greendark-active: rgba(14, 61, 31, 1);
  --foundation-greendark-hover: rgba(19, 82, 41, 1);
  --foundation-greendarker: rgba(11, 48, 24, 1);
  --foundation-greenlight: rgba(233, 243, 236, 1);
  --foundation-greenlight-active: rgba(186, 218, 197, 1);
  --foundation-greenlight-hover: rgba(221, 237, 227, 1);
  --foundation-greennormal: rgba(31, 136, 68, 1);
  --foundation-greennormal-active: rgba(25, 109, 54, 1);
  --foundation-greennormal-hover: rgba(28, 122, 61, 1);
  --spaceing-s4: 16px;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
